body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    padding: 60px;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-areas: "cabecalho cabecalho" "ilustracao info" "rodape rodape";
}

.container .cabecalho {
    grid-area: cabecalho;
}

.container .cabecalho img {
    width: 200px;
}

.container .ilustracao {
    grid-area: ilustracao;
    padding-top: 35px;
    padding-right: 40px;
}

.container .ilustracao img {
    width: 48vw;
}

.container .info {
    grid-area: info;
    margin-top: 65px;
}

.container .info h2 {
    font-size: 35px;
    font-weight: 600;
    color: #fff;    
}

.container .info p {
    color: #fff;
    line-height: 30px;
    margin-top: 20px;
    padding-bottom: 40px;
    font-size: 15.5px;
    
}

.container .info .botao {
    background-color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    color: hsl(257, 40%, 49%);
    font-size: 15px;
    transition: 0.5s;
}

.container .info .botao:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);
    padding: 15px 55px;
    border-radius: 30px;
    font-size: 16px;
    
}

.container .rodape {
    grid-column-start: 2;
}

.container .rodape nav ul {
    display: flex;
    justify-content: right;
}

.container .rodape nav ul li{
    padding: 10px;
}

.container .rodape nav ul li a i {
    color:#fff;
    border: 1.5px solid;
    border-radius: 50%;
    border-color: #fff;
    width: 35px;
    height: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

.container .rodape a i:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}